/*Tag Mates*/
.unittag_mates_somos_medio .bck-box-1 .bck-title {
    background-color: #46802A;  
}

.unittag_mates_somos_medio .bck-box-1 .bck-content {
    border-top: 2px solid #46802A;
    border-left: 2px solid #46802A;
    border-bottom: 2px solid #46802A;
}

.unittag_mates_somos_medio .bck-title-1 {
    color: #46802A;
    border-bottom: 2px solid #46802A;
}

.unittag_mates_somos_medio .bck-title-4 {
    color: #46802A !important;
}

.unittag_mates_somos_medio #actividad .content .cke_contents .bck-ol-1 li:before, 
.unittag_mates_somos_medio #actividad .content .texto_curso .bck-ol-1 li:before, 
.unittag_mates_somos_medio #actividad .popover-content .bck-ol-1 li:before, 
.unittag_mates_somos_medio #actividad .content .workspace ul li .bck-ol-1 li:before {
        background: #46802A;
}

.unittag_mates_somos_medio .bck-box.bck-box-2 .bck-title {
    background: #46802A;
    border: 5px solid #E0916B;
    border-left: 30px solid #E0916B;
}


.unittag_mates_somos_medio .bck-box.bck-box-2 .bck-content {
    border-bottom: 2px solid #e0916b;
    border-top: 5px solid #e0916b;
}

.unittag_mates_somos_medio .texto_curso ul li:before, 
.unittag_mates_somos_medio .workspace ul li ul li:before, 
.unittag_mates_somos_medio .cke_contents ul li:before, 
.unittag_mates_somos_medio .preview ul li:before, 
.unittag_mates_somos_medio .classify-item ul li:before, 
.unittag_mates_somos_medio #actividad .workspace.multiple-choice .js-item ul li:before, 
.unittag_mates_somos_medio #actividad .workspace.matching .box ul li:before, 
.unittag_mates_somos_medio #actividad .workspace.ordenar .js-rank-item ul li:before {
    background-color: #e0916b;
}
